$stack-open: 'Open Sans', Helvetica, sans-serif;

$primary-brand: #135D99;
$secondary-brand: #E6B52F;
$gray-brand: #54585a;
$background-default: #f1f1f1;
$call-to-action: #DDE524;

$card-title: #999;

$pendente: #ffc107;
$aprovacao: #ef5350;
$aprovado: #00bcd4;
$pronto: #009688;

$success: #8BC34A;
$info: #2196F3;
$warning: #FFC107;
$error: #F44336;

$light-gray: #f1f1f1;

$cancel-gray: #CBC9C9;
$white-brand: #FFF;